.switch {
    width: 100%;
    background: $blue;
    text-align: center;
    padding-top: 140px;
    padding-bottom: 180px;
    position: relative;

    box-sizing: border-box;

    &::before {
        content: "";
        width: 170px;
        height: 70%;
        position: absolute;
        left: 0;
        top: 0;
        background: #FCF68D;
        clip-path: polygon(100% 0%, 0% 100%, 0% 0%);
    }

    &::after {
        content: "";
        width: 170px;
        height: 70%;
        position: absolute;
        right: 0;
        bottom: 10px;
        background: #FCF68D;
        clip-path: polygon(100% 39%, 30% 100%, 100% 100%);
    }
    &__list-inner {
        width: 200px;
        display: flex;
        justify-content: center;
    }
}

.switch__title {
    color: white;
    font-size: 55px;
}

.switch__list {
    width: calc(350px + 160px + 160px);
    @include undone-list;
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.switch__image {
    margin-bottom: 10px;
}

.switch__item {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-size: 19px;
    line-height: normal;
}

.switch__item_active {
    color: $blue;
    font-size: 23px;
}

.switch__laptop {
    width: 103px;
    height: 103px;
    background: url(../img/web_ic.png) no-repeat;
    background-size: contain;
    background-position: center;
}

.switch__laptop_active {
    width: 162px;
    height: 162px;
    background: url(../img/web_ic_chosen.png) no-repeat;
    background-size: contain;
    background-position: center;
}

.switch__phone {
    width: 103px;
    height: 103px;
    background: url(../img/mobile_ic.png) no-repeat;
    background-size: contain;
    background-position: center;
}

.switch__phone_active {
    width: 162px;
    height: 162px;
    background: url(../img/mobile_ic_chosen.png) no-repeat;
    background-size: contain;
    background-position: center;
}

.switch__soft {
    width: 103px;
    height: 103px;
    background: url(../img/crm_ic.png) no-repeat;
    background-size: contain;
    background-position: center;
}

.switch__soft_active {
    width: 162px;
    height: 162px;
    background: url(../img/crm_ic_chosen.png) no-repeat;
    background-size: contain;
    background-size: contain;
    background-position: center;
}

@include md-new {
    .switch {

        &::before {
            display: none;
        }

        &::after {
            display: none;
        }
    }
}

@include sm {
    .switch {
        padding: 80px 0 100px;
    }

    .switch__title {
        font-size: 24px;
    }

    .switch__list {
        width: 90%;
        top: 100%;
        margin-top: -44px;
        align-items: flex-start;
        justify-content: space-between;
    }

    .switch__item {
        font-size: 12px;
        margin-top: 10px;

        &_active {
            margin-top: 0;
            font-size: 16px;
        }
    }

    .switch__laptop,
    .switch__phone,
    .switch__soft {
        width: 60px;
        height: 60px;
        background-size: contain;

        &_active {
            width: 80px;
            height: 80px;
            background-size: contain;
        }
    }
}