.title {
    margin: 0;    
}

.title__text {
    font-size: 43px;
}

.title_color_yellow {
    color: #FEF9A1;
}

.title__h1 {
    font-size: 48px;
    line-height: 57px;
    font-weight: bold;
}

.title__h1, .title__h2 {
    color: $blue;
}

.title__h2 {
    font-size: 48px;
    line-height: 57px;
}

.title__h3 {
    font-size: 37px;
    line-height: 49px;
    font-family: "Exo";
    font-weight: 900;
    color: white;
}

.title__h4 {
    font-size: 30px;
    line-height: 36px;
}

@include sm {
    .title__h1 {
        font-size: 24px;
        line-height: 30px;
    }

    .title__h2 {
        font-size: 30px;
        line-height: 36px;
    }

    .title__h3 {
        font-size: 23px;
        line-height: 33px;
    }

    .title__h4 {
        font-size: 16px;
        line-height: 19px;
    }

    .title__text {
        font-size: 23px;
    }
}




