.slider {
    position: relative;
    // overflow: hidden;   
}

.slider__wrapper {
    display: flex;
    justify-content: space-between;
    transition: transform 0.6s ease;    
}

.slider__item {
    display: flex;
    justify-content: space-between;
}

.slider__image {
    width: 300px;
}

.slider__item_before {
    width: 475px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.32);
    padding-right: 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
    position: relative;

    &::before {
        content: "";
        width: 70px;
        height: 70px;
        position: absolute;
        bottom: 10px;
        left: 50px;
        background: url(../img/quote.png) no-repeat;
        background-size: contain;
        background-position: center;
    }
}

.slider__avatar {
    width: 124px;
    height: 124px;
    border: 15px solid white;  
    background: white;
    margin-top: -130px;
    margin-right: -20px;
}

.image__avatar {
    clip-path: circle(50%);
}

.slider__text {
    margin-top: 20px;
}

.slider__text-top {
    font-size: 20px;
}

.slider__stars {
    width: calc(91px + 25px + 25px);
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.slider__star {
    width: 25px;
    height: 25px;
}

.slider__arrows {
    width: 90%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%);
}

.slider__arrow {
    background: none;
    padding: 0;
    border: none;
}

.slider__arrow-left, 
.slider__arrow-right {
    width: 25px;
    height: 40px;
    cursor: pointer;
}

.slider__arrow-left {
    position: absolute;
    transform: rotate(180deg);
    left: 0;
    top: 0;
}

.slider__arrow-right {
    position: absolute;
    top: 0;
    right: 0;
}

@include md-new {
    .slider__image:first-child {
        display: none;
    }

    .slider__image {
        width: auto;
        flex-basis: 45%;
    }

    .slider__item {
        width: auto;
    }

    .slider__arrow-left {
        left: -40px;
    }
    
    .slider__arrow-right {
        right: -40px;
    }
}

@include sm {
    .slider__image {
        flex-basis: calc(50% - 10px);
    }

    // .slider__item {
    //     width: 80%;
    //     margin: 0 35px 0;        
    // }

    .slider__item_before {
        &::before {
            width: 35px;
            height: 35px;
            left: 20px;
        }
    }

    .slider__avatar {
        width: 72px;
        height: 72px;
        margin-top: -80px;
    }

    .slider__text-top {
        font-size: 16px;
    }

    .slider__text {
        font-size: 11px;
        line-height: 18px;
    }

    .slider__stars {
        width: 90px;
        margin-top: 30px;
    }

    .slider__star {
        width: 15px;
        height: 15px;        
    }

    .slider__arrow-left, 
    .slider__arrow-right {
        width: 15px;
        height: 24px;
    }

    .slider__arrow-left {
        left: -20px;
    }

    .slider__arrow-right {
        right: -20px;
    }
    
}