.results {
    width: 1200px;
    text-align: center;
    margin: 190px auto 0;
    position: relative;
}

.results__text {
    width: 765px;
    font-size: 26px;
    line-height: 36px;
    margin-top: 30px;
}

.results__slider {
    margin-top: 40px;
}

.results__arrows {
    width: 100%;
    position: absolute;
    top: 55%;
    left: 0;
}

.results__arrow-left, 
.results__arrow-right {
    width: 25px;
    height: 40px;
    cursor: pointer;
}

.results__arrow-left {
    position: absolute;
    transform: rotate(180deg);
    left: 30px;
    top: 0;
}

.results__arrow-right {
    position: absolute;
    top: 0;
    right: 30px;
}

.results__link {
    width: 250px;
    margin: 60px auto 0;
}

@include md-new {
    .results {
        width: auto;
    }

    .results__text {
        width: auto;
        margin: 30px 30px 0;
    }    
}

@include sm {
    .results {
        margin-top: 40px;
    }

    .results__text {
        font-size: 16px;
        line-height: 23px;
        margin-top: 10px;
    }

    .results__arrow-left, 
    .results__arrow-right {
        width: 15px;
        height: 24px;
    }

    .results__arrow-left {
        left: 10px;
    }

    .results__arrow-right {
        right: 10px;
    }

    .results__link {
        width: 150px;
        margin-top: 10px;
    }
}

