.projects__list {
    width: calc(500px*2 + 80px);
    margin: 220px auto 100px;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: 0.3s;
    display: none;
    &_active {
        display: flex;
    }
}

.projects__list_visibility_hidden {    
    display: none;
}

.projects__development {
    display: none;
}

@include md-new {
    .projects__list {
        width: auto;
        margin: 180px 30px 50px;
    }

    .projects__item {
        flex-basis: calc(50% - 30px*3);
    }
}

@include sm {
    .projects__item {
        flex-basis: 100%;
    }

    .projects__list {
        margin: 120px 15px 50px;
    }
}