.development {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.development__wrapper {
    width: 350px;
}

.development__title {
    width: 330px;
    font-size: 30px;
    line-height: 36px;
    margin-right: -40px;

    &-soft {
        margin-bottom: 15px;
    }

    &-app {
        margin-bottom: 50px;
    }
}

.development__soft {
    flex-basis: 50%;
    position: relative;
    background: linear-gradient(305.69deg, #FAF37E 0%, #FFFFFF 100%);;
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 150px;
    clip-path: polygon(22% 0%, 0% 100%, 100% 100%, 100% 0%);
    display: flex;
    margin-left: -10%;

    & .development__wrapper {
        margin-right: auto;
        
    }
}

.development__app {
    flex-basis: 50%;
    position: relative;
    color: white;
    background: linear-gradient(117.99deg, #FAFFC9 0%, #245D7F 100%);
    padding-top: 40px;
    padding-bottom: 60px;
    padding-right: 230px;
    clip-path: polygon(0% 0%, 0% 100%, 80% 100%, 100% 0%);
    display: flex;
    

    & .development__wrapper {
        margin-left: auto;
        
    }   
}

.development__list {    
    @include undone-list;
}

.development__item {
    position: relative;
    font-weight: bold;
    margin-bottom: 25px;

    &::before {
        content: "";
        width: 35px;
        height: 33px;
        position: absolute;
        top: -8px;
        right: -50px;
        background: url(../img/logo_small.png) no-repeat;
        background-position: center;
        background-size: contain;
    }
}

@include md-new {
    .development__wrapper {
        width: auto;
    }

    .development__title {
        width: 85%;
        margin-bottom: 20px;        
    }

    .development__soft {
        padding: 10px;
        padding-right: 60px;
        margin-left: -10%;
        clip-path: polygon(24% 0%, 0% 100%, 100% 100%, 100% 0%);
    }

    .development__app {
        padding: 10px;
        padding-right: 160px;
        margin: 0;
    }

    .development__item {
        width: 85%;
    }
}

@include sm {
    .development {
        flex-direction: column;
        margin-top: 50px;
    }

    .development__soft {
        clip-path: none;
        transform: skew(0, -2deg);
        padding: 10px 0;
        margin: 0;

        & .development__wrapper {
            transform: skew(0, 2deg);
            padding-right: 60px;
            margin: 0 auto;
        }
    }

    .development__app {
        clip-path: none;
        transform: skew(0, -2deg);
        padding: 10px 0;

        & .development__wrapper {
            transform: skew(0, 2deg);
            padding-right: 60px;
            margin: 0 auto;
        }
    }

    

    .development__title {
        font-size: 24px;
        line-height: 25px;
        width: auto;
        margin: 30px auto 10px;
        text-align: right;
    }

    .development__item {
        width: auto;
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 10px;

        &::before {
            width: 25px;
            height: 25px;
            top: -5px;
            right: -35px;
        }
    }
}